@import url(//db.onlinewebfonts.com/c/a79f5235c6ec712afe64037d3cd0efe7?family=CopperPot);

@font-face {font-family: "CopperPot"; src: url("//db.onlinewebfonts.com/t/a79f5235c6ec712afe64037d3cd0efe7.eot"); src: url("//db.onlinewebfonts.com/t/a79f5235c6ec712afe64037d3cd0efe7.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a79f5235c6ec712afe64037d3cd0efe7.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a79f5235c6ec712afe64037d3cd0efe7.woff") format("woff"), url("//db.onlinewebfonts.com/t/a79f5235c6ec712afe64037d3cd0efe7.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a79f5235c6ec712afe64037d3cd0efe7.svg#CopperPot") format("svg"); }


.post {
  border: 1px solid grey;
  width: 320px;
  padding: 5px;    
}

html
{
  background: url('../images/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #ffffff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */

.topnav a{
  float: left;
  color: #001a33;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.owner_img {
  width: 20px;
  height: 20px;

}
.timestamp {
  float: right;
}

.postnav {

  color: #001a33;
  text-align: left;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 15px;
  margin: auto;
}

.postnav a {

  color: black;
  text-align: left;
  text-decoration: none;
  font-size: 15px;
  margin: auto;
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.button a{
  background-color: #4ca0af;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button a:hover{
  background-color: #387985; 
}

body {
  font-family: CopperPot Bold !important;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

#recipeName { 
  border-style: solid;
  border-color:#001a33;
  font-weight: bold;
}


.recipe { 
  border-style: solid;
  border-width: thin;
  border-color:#bdd2e6;
  font-weight: normal;
}

#recipeName {
  font-weight: bold;
}

.button-is-info {
  display: inline;
  align-self: right;
  margin-right: 180px;
  background-color: rgb(9, 240, 9);
  font-size: 24px !important;
  border-radius: 12px;

}

.button-is-info:hover {
  background-color: green;
}

.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;  
  background-color: rgb(9, 240, 9);
  border-radius: 12px;
}

.submit-button:hover {
  background-color: green;
}

#addInput {
  transition: width 0.8s;
  transition: height 0.8s;
  align-self: center;
  font-size: 24px !important;
  height: 24px;
  background-color: rgb(187, 252, 178);
}


.section {
  align-content: center;
  font-size: 24px;
}

/*
#addInput:focus {
  transition: width 0.8s ease-in-out;
  transition: height 0.8s ease-in-out;
  width:60%;
  height: 30px;
}*/